@model AuthApp.Models.Reparateur

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group mb-3">
    <label asp-for="Nom" class="control-label"></label>
    <input asp-for="Nom" class="form-control" />
    <span asp-validation-for="Nom" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="UserName" class="control-label"></label>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Password" class="control-label"></label>
    <input asp-for="Password" type="password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="TaxPer" class="control-label"></label>
    <input asp-for="TaxPer" class="form-control" />
    <span asp-validation-for="TaxPer" class="text-danger"></span>
</div>

<div class="form-group form-check mb-3">
    <input class="form-check-input" asp-for="Role" />
    <label class="form-check-label" asp-for="Role"></label>
</div>